*{margin:0;padding:0;list-style:none;text-decoration:none;font-family: "微软雅黑";}
body{width:100%;}
.top{width:100%;height:80px;background: #000;color:#fff;text-align: center;line-height: 80px;;}
.top h1{display: inline-block;}
.top span{color: #FFFFFF;}
.nr{width: 100%;height: auto;}
table{margin: 0 auto;width: 800px;height: 200px;}
.td1{width: 325px;}
.nr1{width: 800px;height: auto;margin: 0 auto ;}
.nr1 p{line-height: 50px;}
.img1{width:150px;height: 200px;}
